allow hal_sensors_default device:chr_file { open } ;
allow hal_sensors_default device:chr_file { read write } ;
allow hal_sensors_default hal_sensors_default:qipcrtr_socket { create } ;
allow hal_sensors_default hal_sensors_default:qipcrtr_socket { getattr } ;
allow hal_sensors_default hal_sensors_default:qipcrtr_socket { read } ;
allow hal_sensors_default hal_sensors_default:qipcrtr_socket { setopt } ;
allow hal_sensors_default hal_sensors_default:qipcrtr_socket { write } ;
allow hal_sensors_default mnt_vendor_file:dir { search } ;
allow hal_sensors_default mnt_vendor_file:file { append } ;
allow hal_sensors_default mnt_vendor_file:file { getattr } ;
allow hal_sensors_default mnt_vendor_file:file { open } ;
allow hal_sensors_default mnt_vendor_file:file { read } ;
