allow hal_camera_default default_android_hwservice:hwservice_manager { add } ;
allow hal_camera_default default_prop:property_service { set } ;
allow hal_camera_default device:chr_file { ioctl } ;
allow hal_camera_default mnt_vendor_file:dir { open } ;
allow hal_camera_default mnt_vendor_file:dir { read } ;
allow hal_camera_default mnt_vendor_file:dir { search } ;
allow hal_camera_default mnt_vendor_file:file { getattr } ;
allow hal_camera_default mnt_vendor_file:file { open } ;
allow hal_camera_default mnt_vendor_file:file { read } ;
allow hal_camera_default property_socket:sock_file { write } ;
allow hal_camera_default sysfs:file { open } ;
allow hal_camera_default sysfs:file { read } ;
allow hal_camera_default vendor_data_file:dir { add_name } ;
allow hal_camera_default vendor_data_file:dir { open } ;
allow hal_camera_default vendor_data_file:dir { read } ;
allow hal_camera_default vendor_data_file:dir { write } ;
allow hal_camera_default vendor_data_file:file { create } ;
allow hal_camera_default vendor_data_file:file { open } ;
allow hal_camera_default vendor_data_file:file { read write } ;
