allow hal_audio_default default_android_hwservice:hwservice_manager { find } ;
allow hal_audio_default hal_power_hwservice:hwservice_manager { find } ;
allow hal_audio_default init:binder { call } ;
allow hal_audio_default servicemanager:binder { call } ;
